*.xml

!/codeStyleSettings.xml
!/copyright/*.xml
!/fileColors.xml
!/fileTemplates/
!/encodings.xml
!/gradle.xml
!/runConfigurations/*.xml
!/inspectionProfiles/*.xml
!/scopes/*.xml
!/templateLanguages.xml
!/vcs.xml